.div {
  margin-bottom: 2rem;
  .div_title {
    border-bottom: 2px solid #f8f8fc;
    margin-bottom: 1rem;
    p {
      font-size: 1.25rem;
      opacity: 0.6;
    }
  }
  ul {
    .li_item {
      div {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 1.5rem 0 1.5rem 1rem;
        img {
          margin-right: 1rem;
        }
      }
    }
    ._li_item_active {
      border-radius: 0 10px 10px 0;
      background-color: #2752e7;
      color: white;
    }
  }
}
