.div {
  > ul {
    .list_item {
      cursor: pointer;
      border-radius: 0 10px 10px 0;
      padding: 2rem 2rem 2rem 6rem;
    }
    ._active {
      background-color: #2752e7;
      color: white;
    }
  }
}

@media screen and (max-width: 1024px) {
  .div {
    > ul {
      .list_item {
        padding: 2rem 2rem 2rem 2rem;
      }
    }
  }
}
