.div {
  padding: 5rem 0 5rem 0;
  .sub_div1 {
    padding-top: 3rem;
    .div_title {
      margin-bottom: 5rem;
    }
    > ul {
      li {
        margin-bottom: 2rem;
        p {
          font-size: 1rem;
        }
        h4 {
          font-weight: normal;
        }
      }
    }
  }
  .sub_div2 {
    form {
      display: flex;
      flex-direction: column;
      background-color: #f8f8fc;
      padding: 3rem 8rem 3rem 8rem;
      > h4 {
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
      > p {
        line-height: 1.8rem;
        margin-bottom: 1rem;
      }
      > input {
        margin-bottom: 1rem;
      }
      textarea {
        width: 100%;
        border: none;
        border-radius: 0 10px 10px 0;
        padding: 2rem;
        margin-bottom: 1rem;
      }
    }
  }
}
