.div {
  display: flex;
  justify-content: center;
  align-items: center;
  .sub_div {
    max-width: 33rem;
    max-height: 12.8;
    border: 1px solid black;
    border-radius: 30px;
    margin: 2rem;
    padding: 3rem 1rem 3rem 2rem;
    .div_title {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;

      p {
        font-size: 0.75rem;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .div_title {
    h1 {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}
