.div {
  .div_title {
    margin-bottom: 5rem;
    text-align: center;
  }
  .sub_div {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8fc;
    padding: 2rem 3rem 2rem 3rem;
    margin-bottom: 5rem;
    > div:first-child {
      margin-right: 2rem;
      > h1 {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 1rem;
        font-weight: 500;
      }
      > h4 {
        margin-bottom: 2rem;
      }
    }
    > div:last-child {
      max-width: 56.5rem;
      ol,
      ul {
        a {
          color: #1a6dfd;
        }
      }
      ul ol li,
      ul li {
        margin-bottom: 3rem;
      }
      ul li h4 {
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.25rem;
        line-height: 1.3rem;
        margin-bottom: 3rem;
      }
    }
  }
  .post_scriptum {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
    h4 {
      line-height: 3rem;
      > a {
        color: #1a6dfd;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .div {
    .div_title {
      h1 {
        font-size: 2.5rem;
        line-height: 3rem;
      }
    }
    .sub_div {
      padding: 2rem 1rem 2rem 1rem;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 1480px) {
  .div {
    .sub_div {
      flex-wrap: wrap;
    }
  }
}
