.div {
  h4 {
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  .sub_div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .add_wallet {
      background-color: white;
      border-radius: 10px;
      padding: 4rem 3rem 4rem 3rem;
      margin-right: 3rem;
      p {
        font-size: 0.8rem;
        opacity: 0.7;
      }
    }
    .my_wallets {
      background-color: white;
      padding: 1rem;
      border-radius: 10px;
      div {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        img {
          margin-right: 1rem;
        }
        p {
          font-size: 0.8rem;
          font-weight: bolder;
        }
      }
      p {
        font-size: 0.8rem;
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .div {
    .sub_div {
      .add_wallet {
        margin-bottom: 2rem;
      }
    }
  }
}
