.div {
  .div_title {
    h1 {
      font-size: 3.4rem;
      margin: 3rem 0 3rem 0;
    }
  }
  .sub_div {
    display: flex;
    justify-content: space-between;

    .sub_div_right {
      position: relative;
      max-width: 33rem;
      height: 29.5rem;
      background-color: #f8f8fc;
      border-radius: 20px;
      margin: 0 1rem 1rem 1rem;
      padding: 2rem;
      > img {
        z-index: 1;
        position: absolute;
        bottom: 0px;
        right: 0px;
        max-width: 100%;
        height: auto;
      }
    }
  }
  .sub_div_left {
    display: block;
    > div:first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;

      > div {
        max-width: 33rem;
        height: 14.1rem;
        background-color: #f8f8fc;
        border-radius: 20px;
        margin: 0 0 1rem 1rem;
        padding: 2rem;
      }
    }
    > div:last-child {
      position: relative;
      max-width: 67rem;
      height: 14.1rem;
      display: flex;
      flex-direction: column;
      background-color: #f8f8fc;
      border-radius: 20px;
      padding: 2rem;
      margin: 0 0 1rem 1rem;
      > img {
        z-index: 1;
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 100%;
        height: auto;
      }
    }
  }

  .title {
    z-index: 999;
    margin-bottom: 1rem;
  }

  .description {
    z-index: 999;
  }
}

@media screen and (max-width: 1366px) {
  .div {
    .div_title {
      h1 {
        font-size: 3rem;
      }
    }
    .sub_div {
      .sub_div_right {
        width: 100%;
        > img {
          width: 40%;
          height: auto;
        }
      }
    }
    .sub_div_left {
      > div:first-child {
        flex-wrap: wrap;
      }
      > div:last-child {
        max-width: 33rem;
        > img {
          bottom: 0;
          width: 30%;
          height: auto;
        }
      }
    }
  }
  .title {
    line-height: 1;
  }
}

@media screen and (max-width: 820px) {
  .sub_div {
    flex-wrap: wrap;
  }
}
