.div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .sub_div {
    position: relative;
    width: 26.25rem;
    height: 11.5rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    div {
      width: 24.8rem;
      min-height: 115px;
      display: flex;
      align-items: center;
      background-image: linear-gradient(to right, #26b9f9, #2752e7);
      border-radius: 10px;
      text-transform: uppercase;
      color: white;
      padding-left: 1rem;
      z-index: 0;
      p {
        font-size: 1.5rem;
      }
    }
    img {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
  }
}
