.form {
  background-color: #f8f8fc;
  padding: 4rem;
}

.div {
  max-width: 800px;
  max-height: 303px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub_div_title {
  font-size: 1.5rem;
  margin-bottom: 1.3rem;
}

.sub_div_data {
  display: flex;
  margin-bottom: 1.3rem;
  padding: 1rem;
}

.sub_div_data_input {
  height: 45px;
  border: 0;
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #757575;
}

.selector {
  width: 100px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border-radius: 0 5px 5px 0;
  padding-top: 0.8rem;
  z-index: 999;
}

.selector_item_default {
  display: flex;
  align-items: center;
}

.selector_item_default img {
  margin-right: 0.3rem;
}

.selector_items {
  box-sizing: border-box;
  width: 100px;
  display: none;
  padding-top: 0.5rem;
  background-color: white;
}

.selector_item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
}

.selector_item img {
  margin-right: 0.3rem;
}

._active {
  display: block;
}

.form_button {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: #2752e7;
  color: white;
}
