@font-face {
  font-family: 'Actay Wide';
  src: url('/src/assets/fonts/Actay-Wide-Bd/actaywide-bold.otf') format('opentype');
}

@font-face {
  font-family: 'Manrope';
  src: url('/src/assets/fonts/Manrope/static/Manrope-Regular.ttf') format('truetype');
}

.container__page__global {
  padding: 0 7% 0 7%;
  background-color: white;
}

h1 {
  font-family: 'Actay Wide', sans-serif;
  color: #2752e7;
  font-weight: 500;
  font-size: 5rem;
  line-height: 6.5rem;
}

h4,
p {
  font-family: 'Manrope', sans-serif;
}

h4 {
  color: black;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
}

h2 {
  font-family: 'Actay Wide', sans-serif;
  color: #2752e7;
  font-weight: 500;
  font-size: 3.4rem;
}

p {
  font-size: 1.25rem;
}
